---
layout: default
title: Tags
---
<div class="tags-page">
  <h1 class="page-title"><i class="fa fa-tags"></i> Tags</h1>

  <div class="tag-cloud">
    {% for tag in site.tags %}
    <a href="#{{ tag.first | slugize }}" class="tag">{{ tag.first }} ({{ tag.last.size }})</a>
    {% endfor %}
  </div>

  {% for tag in site.tags %}
  <section class="tag-section" id="{{ tag.first | slugize }}">
    <h2 class="section-title">{{ tag.first }}</h2>
    <ul class="post-list">
      {% for post in tag.last %}
      <li>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
</div>